*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    position: relative;

    // overflow: hidden;

    max-height: 100vh;
    max-width: 100vw;
}

body {
    box-sizing: border-box;
    position: relative;
    top: 0rem;
    // overflow-x: hidden;

    max-height: 100vh;
    max-width: 100vw;
}

::selection {
    background-color: transparent;
    color: #fff;
}