@font-face {
    font-family: "New York-1";
    src: url(../../medias/fonts/newyork/NewYork.otf);
}
@font-face {
    font-family: "New York-2";
    src: url(../../medias/fonts/new_york_3/new-york.otf);
}
@font-face {
    font-family: "Berlin";
    src: url(../../medias/fonts/berlin-collection/berlin-collection.ttf);
}
@font-face {
    font-family: "vladfedotovv-monument";
    src: url(../../medias/fonts/vladfedotovv-monument/Monument-nRxzJ.otf);
}
@font-face {
    font-family: "viktoria-duo";
    src: url(../../medias/fonts/viktoria-duo/viktoria-serif.otf);
}