@mixin absoluteCentering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin defaultFormatting{
    background-color: #f2e2ff;

    height: 100vh;

    position: relative;

    overflow: hidden;

    z-index: 3;

    
}