// SASS VARIABLES
$first-breakpoint: 77.5em; //1240px
$second-breakpoint: 71.875em; //1150px
$third-breakpoint: 59.375em; //950px
$fourth-breakpoint: 51.25em; //820px
$fifth-breakpoint: 46.875em; //750px
$sixth-breakpoint: 42.5em; //680px
$seventh-breakpoint: 39.375em; //630px
$eighth-breakpoint: 32.1875em; //515px
$ninth-breakpoint: 26.875em; //430px
$tenth-breakpoint: 21.25em; //340px