.exercise-11 {
    @include defaultFormatting;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    z-index: 5;

    header {
        filter: blur(0px);
        transition: .5s linear;
        &.menu-is-active {
            filter: blur(15px);
        }
    }

    &__content-box {
        filter: blur(0px);
        transition: .5s linear;
        &.menu-is-active {
            filter: blur(15px);
        }
        height: 85%;
        width: 100%;

        position: relative;
        z-index: 1000;

        position: absolute;
        bottom: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__select-box {
        position: absolute;
        top: 4rem;

        h3 {
            word-spacing: 5px;
            font-size: 2.5rem;

            span {
                color: #000;
            }
        }

        select {
            background:transparent;
            border: none;
            border-bottom: 1px solid black;
            outline: none;

            cursor: pointer;

            color: #000;

            text-align: center;
            
            font-size: 2.5rem;

            font-family: "New York-1";
            text-transform: lowercase;
            font-weight: 1000;

            option {
                background-color: #000;
                color: white;

                cursor: pointer;

                text-align: center;
            }
        }
    }

    .list-box {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        bottom: -2rem;
    }

    ul {
        border: 1px solid black;

        list-style: none;

        * {
            border: 1px solid black;

            padding: .5rem 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
        }

        h4 {
            font-size: 3.5rem;
            align-items: center;
        }

        li {
            font-size: 2.3rem;
            font-weight: 1000;
            align-self: left;
            text-align: left;
        }
    }
}