.toggle-menu {
    position: absolute;
    z-index: 2;

    &.active {
        .toggle-menu {
            &__icon {
                background-color: red;
            }

            &__background {
                backdrop-filter: blur(30px);
            }

            &__nav {
                left: 0;
            }
        }
    }

    &__button {
        // background-color: black;
        position: absolute;
        top: 4rem;
        left: 4rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        height: 4rem;
        width:  7rem;

        z-index: 3;
    }

    &__icons-box {
        cursor: pointer;

        width: 90%;
        height: 35%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &:hover .toggle-menu__icon {
            transform: translateX(0px);
        }
    }

    &__icon {
        background-color: #000;
        border-radius: 999px;

        height: 2px;
        width: 100%;

        transition: .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &--1 {
            transform: translateX(-11px);
        }
        
        &--2 {
            transform: translateX(11px);
        }
    }

    &__background {
        height: 100vh;
        width: 100vw;


        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav {
        height: 70%;
        width:  100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        position: relative;
        left: -99999px;

        &__row {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        li  {
            list-style: none;


            &.substitute {
                height: 3rem;
                width: 23.6rem;
            }
        }

        &__link {
            border-radius: 1px;

            color: black;
            font-family: "New York-1";
            letter-spacing: 2px;
            font-size: 2.5rem;
            text-decoration: none;

            padding: 1.7rem 5rem;

            transition: .1s linear;

            &:hover {
                background-color: #000;
                color: white;
            }
        }
    }
}